@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
:root{
    font-size: 16px;
}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
body{
    background-color: #66785F;
}
.wraper{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.random-quotes-container{
    min-width:200px;
    height: 100dvh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding:0px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.random-quote-section{
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.random-quote-header{
    width: 100%;
    margin-bottom: 20px;
}
.random-quote-header .title{
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.random-quote-header .underline{
    width: 50px;
    height: 4px;
    background-color: #FA812F;
    border-radius: 5px;
    margin:2px auto 0px auto;
}
.random-quote{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.3;
}
.random-quote::before{
    content: "\275D";
    font-size: 2.4rem;
    color: #A04747;
}
.random-quote::after{
    content: "\275E";
    font-size: 2.4rem;
    color: #A04747;
}
.loader{
    width: 80px;
    height: 80px;
    margin:0px auto 30px auto;
    border-radius: 50%;
    border: 5px solid rgba(60, 59, 59, 0.671);
    border-top: 5px solid #FA812F;
    box-shadow: 0px 0px 5px black;
    -webkit-animation: loader-rotate 2s linear 0s infinite;
            animation: loader-rotate 2s linear 0s infinite;
}
@-webkit-keyframes loader-rotate {
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes loader-rotate {
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.random-author{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    margin:10px 0px;
    text-align: end;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight:450;
    font-style: normal;
}
.random-author span{
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: #FA812F;
}
hr{
border: 1.3px solid #243642;
margin-bottom: 10px;
}
.primary-bttn{
    display: block;
    margin: auto;
    padding: 6px 10px;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    background-color: #0D92F4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .2 linear;
    transition: all .2 linear;
}
.primary-bttn:active{
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
}
.error-msg{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    color: #FF2929;
    text-align: center;
    text-transform: capitalize;
}
.footer-developer{
    margin-top: 30px;
    font-size: 1.4rem;
    color: #FBFBFB;
    text-align: center;
    font-family: "Smooch Sans", serif;
    font-optical-sizing: auto;
    font-weight:450;
    font-style: normal;
    letter-spacing: 1px;
}