@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  font-size: 16px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  background-color: #fff0dc;
}
.wraper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
}
.title {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}
.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 70px;
  height: 30px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  gap: 3px 0px;
}
.rect {
  width: 100%;
  height: 100%;
  background-color: #b03052;
}
.line {
  justify-self: center;
  width: 100%;
  height: 100%;
  background-color: rgb(251, 254, 251);
}
.profile-dash-container {
  margin-top: 20px;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.profile-dash {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.profile-dash img {
  justify-self: center;
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 1px rgb(28, 28, 30),
    0px 0px 9px 1px rgba(238, 241, 229, 0.842),
    0px 0px 8px 1px rgba(49, 49, 50, 0.459);
}
.profile-dash img:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
.profile-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
}
.profile-name {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2px;
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
  color: #4ec2d6;
}
.profile-title {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 3px;
  font-family: "Grechen Fuemen", serif;
  font-weight: 400;
  font-style: normal;
}
.profile-desc {
  text-align: center;
  margin-bottom: 3px;
  font-size: 0.9rem;
  line-height: 1.5;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}
.profile-highlights {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px 80px;
  grid-template-columns: 100px 100px 80px;
  margin-bottom: 8px;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}
.sp-border-lines {
  padding: 0px 4px;
  border-left: 2px solid rgba(0, 0, 0, 0.792);
  border-right: 2px solid rgba(0, 0, 0, 0.726);
}
.each-highlights p:nth-child(1) {
  font-size: 1.1rem;
  text-align: center;
  color: #ff8000;
}
.each-highlights p:nth-child(2) {
  text-align: center;
  font-size: 1rem;
}
.light-shade {
  font-weight: 250;
}
.profile-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 10px;
}
.profile-buttons button {
  padding: 10px 7px;
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1.5px solid black;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.profile-buttons button:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.profile-primary {
  background-color: #a1e3f9;
}
.profile-secondary {
  background-color: #ffb4a2;
}
.dev-desc {
  margin-top: 20px;
  font-size: 1.4rem;
  padding: 0px 5px;
  line-height: 1.5;
  font-variant: small-caps;
  text-align: center;
  font-family: "Kanit", serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  .profile-dash {
    width: 500px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.1fr 1fr;
    grid-template-columns: 0.1fr 1fr;
    gap: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
  }
  .profile-dash img {
    -ms-flex-item-align: self-start;
 
    -ms-grid-row-align: self-start;
 
    align-self: self-start;
  }
  .profile-container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 6px;
  }
  .profile-name {
    font-size: 1.7rem;
  }
  .profile-title {
    font-size: 1.1rem;
  }
  .profile-desc {
    text-align: left;
    font-size: 0.9rem;
  }
}