:root{
    --black-shade:#252424;
    --blue-shade:#3D84A8;
    --babypink:#FCEAFF;
    --white:white;
}
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    transition: all .4s linear;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--white) !important;
}
/*padding left right mobile*/
.padding-lr-mobile-twenty{
    padding-left: 20px;
    padding-right: 20px;
}
.wraper{
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
}
.ice-container{
    width: 100%;
    
}
.ice-section{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.ice-heading-section{
    width:100%;
    margin-bottom: 30px;
}
.heading{
    font-size: 30px;
    text-align: center;
    text-shadow: 6px 3px  3px rgb(57, 158, 184);
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 2px;
    color:crimson;
}
.ice-img-container{
    aspect-ratio: 450/300;
    overflow: hidden;
}
.ice-img-component{
    box-shadow: 0px 0px 40px white;
    border-radius: 3%;
}
.ice-img-component img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3%;
}
.ice-img-component{
    animation: ice-cream 2s  linear infinite alternate;
    transform: scale(0.6);
}
@keyframes ice-cream {
    0%{
        transform: translateY(-5px) scale(0.6);
        transition: all .3s linear;
    }
    100%{
        transform: translateY(1px) scale(0.8);
        transition: all .3s linear;
    }
}
.ice-counter .counter{
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: var(--black-shade);
}
.ice-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ice-counter-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.ice-counter-button .counter-buttton{
    padding: 5px 8px 5px 8px;
    border: 5px black double;
    background-color: white;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: var(--black-shade);
    border-radius: 4px;
}
.counter-buttton:active{
    transform: scale(0.9);
    transition: transform .3s linear;
}
.counter-buttton:hover{
    background-color:var(--blue-shade) ;
    color: white;
    transition: all .3s ease-in-out;

}
@media screen  and (min-width:750px){
    .ice-img-component{
        aspect-ratio: 900/400;
    }
}
@media screen and (min-width:992px) {
    .ice-section{
        row-gap: 8px;
        margin-bottom: 40px;
    }
    .heading{
        font-size: 35px;
    }
    .ice-img-container {
        width:500px;
        height: 310px;
        overflow: hidden;
    }
    .ice-img-component{
        width:100%;
        height: 100%;
        padding: 0px;
        overflow: hidden;
    }
    .ice-counter .counter{
        font-size: 80px;
    }
    .ice-counter-button{
        margin-top: 30px;
        column-gap: 30px;
        justify-self: baseline;
    }
    .ice-counter-button .counter-buttton{
        padding: 10px  15px;
        font-size: 20px;
    }
}